section.ctr-article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5rem;
  max-width: 72rem;
  padding: 6rem 2rem;
  margin-left: auto;
  margin-right: auto;
}

section.ctr-article div.ctr-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

section.ctr-article div.ctr-information h3.title {
  font-size: 2.3rem;
  letter-spacing: 0.05em;
  font-family: serif;
}

section.ctr-article div.ctr-information span.sub-title {
  font-size: 1.7rem;
  letter-spacing: 0.05em;
  font-family: serif;
  text-align: center;
  color: hsla(0, 0%, 0%, 0.7);
}

section.ctr-article div.ctr-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

section.ctr-article div.ctr-cards div.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  padding: 0.5rem;
  overflow: hidden;
  background-color: hsl(var(--card));
  border-radius: 0.5rem;
  box-shadow:
    var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow-soft);
}

section.ctr-article div.ctr-cards div.card img {
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: contain;
  transition: transform 0.3s linear;
}

section.ctr-article div.ctr-cards div.card img:hover {
  transform: scale(1.015);
}

section.ctr-article div.ctr-cards div.card h4.title {
  letter-spacing: 0.05em;
  font-weight: 600;
  color: hsla(var(--muted-foreground));
}

section.ctr-article div.ctr-cards a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: hsla(var(--muted));
  background-color: hsl(var(--primary));
}

section.ctr-article div.ctr-cards a.btn:hover {
  color: hsla(var(--muted));
  background-color: hsl(var(--primary), 0.9);
}

@media (width <= 1024px) {
  section.ctr-article div.ctr-cards {
    flex-direction: column;
    row-gap: 3rem;
  }

  section.ctr-article div.ctr-cards div.card {
    width: 300px;
  }
}

@media (width <= 443px) {
  section.ctr-article div.ctr-cards div.card {
    width: 100%;
  }
}
