section.ctr-home {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  height: 100vh;
  max-width: 72rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

section.ctr-home div.ctr-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;

  img.banner {
    position: absolute;
    height: 24rem;
    width: 24rem;
    border-radius: 100%;
    object-fit: cover;
  }
}

section.ctr-home div.shadow-gradient {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.2),
    rgba(236, 72, 153, 0.2)
  );
  border-radius: 9999px;
  filter: blur(2rem);
  height: 31rem;
  width: 31rem;
}

section.ctr-home div.ctr-introduction {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  width: 50%;
  height: 100%;

  span.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(var(--muted-foreground));
  }

  h1.title {
    font-size: 4rem;
    letter-spacing: 0.05em;
    font-family: Georgia, serif;
  }

  p.description {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
  }
}

section.ctr-home div.ctr-social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;

  a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: hsla(var(--muted));
    background-color: hsl(var(--primary));
  }

  a.btn:hover {
    color: hsla(var(--muted));
    background-color: hsl(var(--primary), 0.9);
  }
}

@media (width <= 1024px) {
  section.ctr-home {
    flex-direction: column;
    margin-top: 80px;
  }

  section.ctr-home div.ctr-introduction {
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  section.ctr-home div.ctr-banner {
    width: 100%;
  }
}

@media (width <= 664px) {
  section.ctr-home {
    height: auto;
    padding: 2rem;
    row-gap: 50px;
    margin-top: 130px;
  }

  section.ctr-home div.ctr-banner {
    width: 300px;
    height: 300px;

    img.banner {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  section.ctr-home div.shadow-gradient {
    height: 100%;
    width: 100%;
  }

  section.ctr-home div.ctr-introduction {
    height: auto;
  }
}

@media (width <= 443px) {
  section.ctr-home {
    height: auto;
    padding: 2rem;
    row-gap: 50px;
  }

  section.ctr-home div.ctr-banner {
    width: 200px;
    height: 200px;
  }

  section.ctr-home div.ctr-introduction {
    p.description {
      text-align: start;
    }

    span.stats {
      flex-direction: column;
      line-height: 1.5rem;
      row-gap: 1rem;
    }
  }

  section.ctr-home div.ctr-social {
    a.btn {
      width: 100%;
    }
  }
}
