main.ctr-main {
  margin: 0;
  height: 100vh;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    hsl(var(--primary)),
    hsl(var(--primary), 0.9)
  );
}

main.ctr-main section.ctr-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  padding: 3rem;
  border-radius: 1rem;
  background: white;
  aspect-ratio: 1 / 1;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  animation: fadeIn 0.6s ease;
}

main.ctr-main section.ctr-section h1.title {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(var(--foreground));
}

main.ctr-main section.ctr-section p.description {
  margin-bottom: 1.9rem;
  color: hsl(var(--muted-foreground), 0.8);
  font-size: 0.9rem;
}

main.ctr-main section.ctr-section a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: hsla(var(--muted));
  background-color: hsl(var(--primary));
  transition: all 0.25s ease;
}

main.ctr-main section.ctr-section a.btn:hover {
  background: hsl(var(--primary));
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 20px hsl(var(--primary), 0.1);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
